#board {
    background-color: grey;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: grey;
    
}
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 70px
}
.squares {
    background-color: white;
    min-height: 75px;
    min-width: 75px;
    max-height: 75px;
    max-width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    background-color: darkolivegreen;
}

.cream {
    background-color: blanchedalmond;
}

.peice {
    max-height: 85%;
    max-width: 85%;
}

.none {
    display: none;
}

.take {
    border-color: tomato;
    border-style: solid;
    border-radius: 10px;
}

body{
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif;
    background-color: gray;
    color: white;
}

#message {
    font-size: larger;
    font-weight: bolder;
    font-family: Helvetica, sans-serif;
}
header {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

